#icon {
  color: #fc2e5a;
  font-size: 24px;
  float: right;
  //   position: fixed;
  right: 6%;
  position: absolute;
  //   border: black 2px solid;

  transition: 0.5s;
}

#icon.outline {
  color: black;
}

#icon.outline:hover {
  //   font-size: 26px;
  color: #fc2e5a;
}
#icon.full:hover {
  color: #333;
}
@media (min-width: 768px) {
  //stuff
  #icon {
    font-size: 30px;
    right: 7%;
  }
}

@media (min-width: 1000px) {
  //stuff
  #icon {
    font-size: 34px;
    right: 8%;
  }
}
