$bright-pink: #ffcccc;
$light-pink: #ffe0e0;
$light-blue: #e0f1ff;
$lighter-blue: #edf7ff;
$middle-blue: #c0e5f7;
$dark-blue: #3e87b2;
$background-blue: whitesmoke;

.edit-doctor {
  background: $light-blue;
  padding: 5px;

  h1 {
    margin: 0px 0px 10px 0px;
  }

  .input-with-title {
    display: flex;
    flex-direction: column;
    margin: 5px 0px;
    // align-items: center;
    // background: green;
    width: 80vw;

    // input {
    //   width: 80%;
    // }
  }
}
