.admin-view {
  padding: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;

  min-height: 100vh;

  .admin-doctor-submit {
    width: 60%;

    .input-with-title {
      display: flex;
      flex-direction: column;
      margin: 3px 5px;
    }
    .button {
      float: right;
    }
  }
}
