$bright-pink: #ffcccc;
$light-pink: #ffe0e0;
$light-blue: #e0f1ff;
$middle-blue: #c0e5f7;
$dark-blue: #3e87b2;
$background-blue: whitesmoke;

.about-page {
  background: $light-pink;
  padding: 10px;
  min-height: 100vh;

  display: flex;
  flex-direction: column;

  h1 {
    font-size: 24px;
    border-bottom: $dark-blue 2px solid;
    width: 70%;
  }

  .about-section {
    padding: 5px;
    background: $light-blue;
    border-radius: 8px;
    p {
      padding: 5px;
    }
  }

  .contact-section {
    // background: $bright-pink
    background: $light-blue;
    margin: 10px 0px;
    padding: 5px;
    border-radius: 8px;

    li {
      margin: 5px 0px;
      font-size: 16px;
    }
  }

  .faq-section {
    background: $light-blue;
    // padding: 5px;
    border-radius: 8px;

    h1 {
      margin: 5px;
    }

    .full-question {
      display: flex;
      margin: 10px;
      .icon {
        margin-right: 5px;
        margin-top: 2px;
        color: $dark-blue;
      }
      .q-and-a {
        .question {
          font-size: 18px;
          //   color: #0942bd;
          margin-bottom: 5px;
        }

        .answer {
          padding-left: 10px;
          font-size: 16px;
          // margin-bottom: 10px;
        }
      }
    }
  }
}

@media (min-width: 767px) {
  .about-page {
    // color: green;
    .contact-section {
      li {
        font-size: 18px;
      }
    }

    .faq-section {
      .full-question {
        .q-and-a {
          .question {
            font-size: 24px;
            // color: green;
          }

          .answer {
            font-size: 18px;
          }
        }
      }
    }
  }
}
