$bright-pink: #ffcccc;
$light-pink: #ffe0e0;
$light-blue: #e0f1ff;
$middle-blue: #c0e5f7;
$dark-blue: #3e87b2;
$background-blue: whitesmoke;

.homepage {
  width: 100vw;
  min-height: 90vh;
  background: $light-blue;

  .under-img {
    padding: 5px;
  }
  .select-and-button {
    display: flex;
    justify-content: space-between;

    width: 100%;

    .select {
      width: 75%;
    }

    button {
      // width: 20%;
      height: 100%;
      width: 50px;
    }
  }

  h1 {
    text-align: center;
    font-size: 40px;
    font-family: "Quando";
    // font-family: "Laila";
    color: white;
    text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
      -1px 1px 0 #000, 1px 1px 0 #000;
  }
  .welcome-img {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../../images/rainbowKid.jpg");
    // background-image: url("./images/giantFlag.jpg");
    height: 60vh;
    width: 100vw;
    background-size: 100vh;
    background-position: center;
    filter: opacity(90%);
  }
}

@media (min-width: 768px) {
  .homepage {
    width: 100vw;

    h1 {
      font-size: 52px;
    }
    .welcome-img {
      height: 75vh;

      background-size: cover;
    }
  }
}

@media (min-width: 1300px) {
  .homepage {
    h1 {
      font-size: 72px;
    }
  }
}
