@import url("https://meyerweb.com/eric/tools/css/reset/reset.css");

@import url("https://fonts.googleapis.com/css?family=Laila:700|Quando|Roboto");
* {
  box-sizing: border-box;
}

.App {
  font-family: "Roboto", sans-serif;
  min-height: 92vh;
  width: 100vw;
  box-sizing: border-box;
}

.homepage {
  width: 100vw;

  h1 {
    text-align: center;
    font-size: 40px;
    font-family: "Quando";
    // font-family: "Laila";
    color: white;
    text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
      -1px 1px 0 #000, 1px 1px 0 #000;
  }
  .welcome-img {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("./images/rainbowKid.jpg");
    // background-image: url("./images/giantFlag.jpg");
    height: 60vh;
    width: 100vw;
    background-size: 100vh;
    background-position: center;
    filter: opacity(90%);
  }
}

.nav {
  $navColor: #b49fcc;

  .top-nav {
    background: $navColor;
    box-sizing: border-box;
    height: 8vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    // border: #000 solid 0px;
    .left {
      height: 90%;
      img {
        height: 100%;
      }
    }
    .middle {
      height: 92%;

      img {
        height: 100%;
      }
    }

    .right {
      height: 90%;

      img {
        height: 100%;
      }
    }
  }
}

#the-menu {
  background: lightpink;
  font-size: 20px;
  height: 100vh;

  position: fixed;
  left: 0;
  top: 0vh;
  transition: transform 0.8s;
  overflow: scroll;
  z-index: 1;

  width: 100vw;

  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;

    padding: 10px 20px;
    img {
      height: 30px;
    }

    h1 {
      color: white;
      text-align: center;
      font-size: 36px;
      font-family: "Laila";
      border-bottom: 2px white solid;
      // border: #000 solid 1px;
    }
  }

  .links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 90%;
    // border: black 2px solid;
  }
}

#the-menu.hide {
  transform: translate3d(0, -100vh, 0);
}
#the-menu.show {
  transform: translate3d(0, 0vh, 0);
  overflow: hidden;
}

.doctor-page {
  padding: 1vh 2vw;
  height: 92vh;
  width: 100%;

  display: flex;
  flex-direction: column;
  // align-items: center;

  h1 {
    font-size: 22px;
    border-bottom: black 1px solid;
    padding: 5px;
  }
  img {
    max-width: 80%;
    min-height: 40%;

    margin: 5px auto;
    object-fit: cover;
    overflow: hidden;

    box-shadow: grey 2px 2px 15px 1px;

    // border: red solid 2px;
  }
}

.search-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.admin-view {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.admin-doctor-submit {
  width: 90%;

  .input-with-title {
    display: flex;
    flex-direction: column;
    margin: 3px 5px;
  }
  button {
    float: right;
  }
}

.doctor-card {
  border: black dotted 2px;
  margin: 10px;
  width: 90%;
  display: flex;

  .right {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  img {
    height: 100px;
    margin: 10px;
  }
}

@media (min-width: 768px) {
  .homepage {
    width: 100vw;

    h1 {
      font-size: 52px;
    }
    .welcome-img {
      height: 75vh;

      background-size: cover;
    }
  }
}

@media (min-width: 1300px) {
  .homepage {
    h1 {
      font-size: 72px;
    }
  }
}
