@import url("https://meyerweb.com/eric/tools/css/reset/reset.css");

@import url("https://fonts.googleapis.com/css?family=Laila:700|Quando|Roboto");
* {
  box-sizing: border-box;
}

.App {
  font-family: "Roboto", sans-serif;
  min-height: 92vh;
  width: 100vw;
}

.homepage {
  width: 100vw;

  h1 {
    text-align: center;
    font-size: 40px;
    font-family: "Quando";
    // font-family: "Laila";
    color: white;
    text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
      -1px 1px 0 #000, 1px 1px 0 #000;
  }
  .welcome-img {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("./images/rainbowKid.jpg");
    // background-image: url("./images/giantFlag.jpg");
    height: 60vh;
    width: 100vw;
    background-size: 100vh;
    background-position: center;
    filter: opacity(90%);
  }
}

.nav {
  $navColor: #b49fcc;

  .top-nav {
    background: $navColor;
    height: 8vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
  }

  .left {
    img {
      height: 30px;
    }
  }

  .right {
    img {
      height: 30px;
    }
  }
}

#the-menu {
  background: lightpink;
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: 20px;
  height: 92vh;

  position: fixed;
  left: 0;
  top: 8vh;
  transition: transform 1s;
  overflow: scroll;
  z-index: 1;

  width: 100vw;
}

#the-menu.hide {
  transform: translate3d(0, -100vh, 0);
}
#the-menu.show {
  transform: translate3d(0, 0vh, 0);
  overflow: hidden;
}

.search-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.admin-view {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.admin-doctor-submit {
  width: 90%;

  .input-with-title {
    display: flex;
    flex-direction: column;
    margin: 3px 5px;
  }
  button {
    float: right;
  }
}

.doctor-card {
  border: black dotted 2px;
  margin: 10px;
  width: 90%;
  display: flex;

  .right {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  img {
    height: 100px;
    margin: 10px;
  }
}

@media (min-width: 768px) {
  .homepage {
    width: 100vw;

    h1 {
      font-size: 52px;
    }
    .welcome-img {
      height: 75vh;

      background-size: cover;
    }
  }
}

@media (min-width: 1300px) {
  .homepage {
    h1 {
      font-size: 72px;
    }
  }
}
