@import url("https://meyerweb.com/eric/tools/css/reset/reset.css");
@import url("https://fonts.googleapis.com/css?family=Roboto");

* {
  box-sizing: border-box;
}

.App {
  font-family: "Roboto", sans-serif;
}

.nav {
  $navColor: #b49fcc;

  background: $navColor;
  height: 8vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;

  .left {
    img {
      height: 30px;
    }
  }

  .middle {
  }

  .right {
    img {
      height: 30px;
    }
  }
}
