$bright-pink: #ffcccc;
$light-pink: #ffe0e0;
$light-blue: #e0f1ff;
$lighter-blue: #edf7ff;
$middle-blue: #c0e5f7;
$dark-blue: #3e87b2;
$background-blue: whitesmoke;

.search-view {
  display: flex;
  flex-direction: column;

  height: 100%;
  min-height: 80vh;

  .map-div {
    position: relative;
    z-index: 0;
    height: 60vh;
    // width: 50vw;
    margin-top: 10px;
  }

  .doc-card-container {
    width: 100%;
    // height: 30%;

    .false {
      display: none;
    }

    .true {
      background: $light-blue;
      padding: 5%;
      text-align: center;
    }
  }

  .search-toggle-container {
    background: $light-pink;
    width: 100%;

    display: flex;
    align-items: center;

    .search-toggle-button {
      -moz-box-shadow: 0px 10px 14px -7px #276873;
      -webkit-box-shadow: 0px 10px 14px -7px #276873;
      box-shadow: 0px 10px 14px -7px #276873;
      background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0.05, #599bb3),
        color-stop(1, #408c99)
      );
      background: -moz-linear-gradient(top, #599bb3 5%, #408c99 100%);
      background: -webkit-linear-gradient(top, #599bb3 5%, #408c99 100%);
      background: -o-linear-gradient(top, #599bb3 5%, #408c99 100%);
      background: -ms-linear-gradient(top, #599bb3 5%, #408c99 100%);
      background: linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#599bb3', endColorstr='#408c99',GradientType=0);
      background-color: #599bb3;
      -moz-border-radius: 8px;
      -webkit-border-radius: 8px;
      border-radius: 8px;
      display: inline-block;
      cursor: pointer;
      color: #ffffff;
      // font-family: Arial;
      font-size: 16px;
      font-weight: bold;
      padding: 8px 15px;
      text-decoration: none;
      text-shadow: 0px 1px 0px #3d768a;

      border: none;

      &:hover {
        background: -webkit-gradient(
          linear,
          left top,
          left bottom,
          color-stop(0.05, #408c99),
          color-stop(1, #599bb3)
        );
        background: -moz-linear-gradient(top, #408c99 5%, #599bb3 100%);
        background: -webkit-linear-gradient(top, #408c99 5%, #599bb3 100%);
        background: -o-linear-gradient(top, #408c99 5%, #599bb3 100%);
        background: -ms-linear-gradient(top, #408c99 5%, #599bb3 100%);
        background: linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#408c99', endColorstr='#599bb3',GradientType=0);
        background-color: #408c99;
      }
    }
  }

  h1 {
    font-size: 24px;
    border-bottom: $dark-blue 2.5px solid;
    margin-top: 3%;
  }

  h2 {
    text-decoration: underline;
    margin: 1%;
  }

  .search-bar {
    width: 100%;
    padding: 0 2%;
    // transition: transform 0.8s;
    background: $light-pink;
    // overflow: scroll;

    z-index: 1;

    h1 {
      margin-top: 5px;
    }

    .filter-button-container {
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      padding-top: 10px;
      .filter-button {
        -moz-box-shadow: 0px 10px 14px -7px #276873;
        -webkit-box-shadow: 0px 10px 14px -7px #276873;
        box-shadow: 0px 10px 14px -7px #276873;
        background: -webkit-gradient(
          linear,
          left top,
          left bottom,
          color-stop(0.05, #599bb3),
          color-stop(1, #408c99)
        );
        background: -moz-linear-gradient(top, #599bb3 5%, #408c99 100%);
        background: -webkit-linear-gradient(top, #599bb3 5%, #408c99 100%);
        background: -o-linear-gradient(top, #599bb3 5%, #408c99 100%);
        background: -ms-linear-gradient(top, #599bb3 5%, #408c99 100%);
        background: linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#599bb3', endColorstr='#408c99',GradientType=0);
        background-color: #599bb3;
        -moz-border-radius: 8px;
        -webkit-border-radius: 8px;
        border-radius: 8px;
        display: inline-block;
        cursor: pointer;
        color: #ffffff;
        // font-family: Arial;
        font-size: 16px;
        font-weight: bold;
        padding: 8px 15px;
        text-decoration: none;
        text-shadow: 0px 1px 0px #3d768a;

        border: none;

        &:hover {
          background: -webkit-gradient(
            linear,
            left top,
            left bottom,
            color-stop(0.05, #408c99),
            color-stop(1, #599bb3)
          );
          background: -moz-linear-gradient(top, #408c99 5%, #599bb3 100%);
          background: -webkit-linear-gradient(top, #408c99 5%, #599bb3 100%);
          background: -o-linear-gradient(top, #408c99 5%, #599bb3 100%);
          background: -ms-linear-gradient(top, #408c99 5%, #599bb3 100%);
          background: linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#408c99', endColorstr='#599bb3',GradientType=0);
          background-color: #408c99;
        }
      }
    }

    .select-and-button {
      display: flex;
      justify-content: space-between;
      align-items: center;
      // padding: 0px 10px;

      width: 100%;

      // margin: 3% 0%;

      .select {
        width: 75%;
        margin: 1%;
      }

      .go-button {
        // width: 50px;
        // height: 30px;
        margin-right: 3vw;

        -moz-box-shadow: 0px 10px 14px -7px #276873;
        -webkit-box-shadow: 0px 10px 14px -7px #276873;
        box-shadow: 0px 10px 14px -7px #276873;
        background: -webkit-gradient(
          linear,
          left top,
          left bottom,
          color-stop(0.05, #599bb3),
          color-stop(1, #408c99)
        );
        background: -moz-linear-gradient(top, #599bb3 5%, #408c99 100%);
        background: -webkit-linear-gradient(top, #599bb3 5%, #408c99 100%);
        background: -o-linear-gradient(top, #599bb3 5%, #408c99 100%);
        background: -ms-linear-gradient(top, #599bb3 5%, #408c99 100%);
        background: linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#599bb3', endColorstr='#408c99',GradientType=0);
        background-color: #599bb3;
        -moz-border-radius: 8px;
        -webkit-border-radius: 8px;
        border-radius: 8px;
        display: inline-block;
        cursor: pointer;
        color: #ffffff;
        // font-family: Arial;
        font-size: 16px;
        font-weight: bold;
        padding: 8px 15px;
        text-decoration: none;
        text-shadow: 0px 1px 0px #3d768a;

        border: none;

        &:hover {
          background: -webkit-gradient(
            linear,
            left top,
            left bottom,
            color-stop(0.05, #408c99),
            color-stop(1, #599bb3)
          );
          background: -moz-linear-gradient(top, #408c99 5%, #599bb3 100%);
          background: -webkit-linear-gradient(top, #408c99 5%, #599bb3 100%);
          background: -o-linear-gradient(top, #408c99 5%, #599bb3 100%);
          background: -ms-linear-gradient(top, #408c99 5%, #599bb3 100%);
          background: linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#408c99', endColorstr='#599bb3',GradientType=0);
          background-color: #408c99;
        }
      }
    }

    .filter-option {
      // color: green;
      font-size: 16px;
      margin: 1%;
    }
    #nb-check {
      background: $light-blue;
      border-radius: 10px;
      margin: 1%;
      margin-left: 2%;
      padding: 0.5%;
    }
  }

  #search-bar-false {
    padding: 0px;
    overflow: hidden;
    height: 0;

    transition: 0.5s ease-in;
    box-shadow: $light-blue 0px 3px 5px 2px;
  }

  #search-bar-true {
    padding: 10px;
    height: 370px;
    // height: auto;

    // z-index: 1000;

    // overflow: hidden;

    overflow: visible;
    // overflow: visible;

    // min-height: 200px;

    transition: 0.5s ease-in;
    box-shadow: $light-blue 0px 5px 10px 2px;
  }
}

@media (min-width: 767px) {
  .search-view {
    font-size: 20px;

    .search-toggle-container {
      display: none;
    }

    .doc-card-container {
      display: flex;
      // flex-direction: column;

      flex-wrap: wrap;
      // align-items: center;

      justify-content: space-evenly;

      // padding: 1%;

      .doctor-card {
        width: 46vw;
        margin: 0.5% 0%;
      }
    }

    h1 {
      font-size: 28px;
    }

    h2 {
      font-size: 22px;
    }

    .search-bar {
      .select-and-button {
        .go-button {
          padding: 10px 32px;
          font-size: 18px;
        }
      }
    }

    .filters {
      position: relative;

      .filter-button-container {
        .filter-button {
          position: absolute;
          bottom: 5%;
          // right: 0px;

          padding: 12px 10px;
        }
      }

      .filter-option {
        width: 70%;
      }

      #nb-check {
        width: 40%;
      }
    }

    #search-bar-false {
      //this needs to be here bc the search bar needs to be the same whether true or false when viewed on a tablet or desktop

      height: auto;
      overflow: visible;
      z-index: 10;
    }

    #search-bar-true {
      z-index: 10;
      height: auto;
      overflow: visible;
    }
  }
}
